{
    "presets": [
      ["@babel/env", {
        "targets": {
          "node": "16"
        },
        "corejs": 3,
        "useBuiltIns": "usage"
      }]
    ],
    "plugins": [
      ["@babel/plugin-transform-runtime", {
        "useESModules": false,
        "corejs": 3
      }]
    ]
  }